body{
    margin:0;
}
#wrapper{
    border:1px solid yellow;

}

#wrapper .header{
    background-color:red;
    height:150px;
}
#wrapper .main{
    background-color:gray;
    height:350px;
}
#wrapper .footer{
    background-color:skyblue;
    height:150px;


    
}
